# Build folders
obj/
bin/
Release/
Debug/

# User specific VS/R# files/folders
_ReSharper.Advatar/
*.user
*.suo
*.sdf
*.opensdf
*.ncb
*.docstates
version.rc

# Other files/folders
*.zip
\#*#
*~

*.dbmdl
